@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-custom:hover {
  transform: scale(1.05);
}

.tab-custom.active:hover {
  color: #40a9ff !important;
  color: #fff !important;
}

.tab-custom.inactive:hover {
  background-color: #ffffff !important;
  color: #000 !important;
}

.ant-tabs-tab {
  background-color: #ffffff !important;
}

.ant-tabs-tab .ant-tabs-tab-active {
  background-color: #40a9ff !important;
}

/* .ant-table-wrapper .ant-table {
  border: 1px solid #40a9ff !important;
} 
.ant-table-wrapper .ant-table-thead>tr>th {
  border: 1px solid #40a9ff !important;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
  border: 1px solid #40a9ff !important;
}*/


.odd {
  background-color: #d9d9d9;
}

.even {
  background-color: #bfbfbf;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }

  .print:hidden {
    display: none !important;
  }

  @page {
    size: A4;
  }
}